body {
    color: #ffffff;
    background: linear-gradient(180deg, #0f172a 0%, #1e3a8a 50%, #3b82f6 100%);
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.navbar {
    background-color: #1f1f25;
}

.navbar-brand {
    font-weight: 700;
    color: #ffffff !important;
    transition: transform 0.3s ease-in-out;
}
.navbar-brand:hover{
    transform: scale(1.05);
}
footer{
    background-color: #111; 
    color: #ccc; 
    text-align: center; 
    padding: 20px 0; 
    font-size: 14px; 
    letter-spacing: 0.5px; 
    border-top: 1px solid #333;       
}
#modal{
    background-color: #a9a9a9;
    width: 35%;
    border-radius: 1rem;
    border: none;
    text-align: center;
}
#modal h2{
    text-shadow: 4px 4px 5px black;
}
.fechar{
    background: linear-gradient(90deg, navy, mediumblue, royalblue);
}

#boleto{
    display: none;
    width: 600px;
    padding: 20px;
    border: 1px solid #000;
    margin-top: 30px;
}
#contrato{
    width: 40%;
    border: none;
    border-radius: 1rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(90deg, #0c2877, #062781, #5f7ed1);
}
#agradecimento{
    justify-content: center;
    text-align: center;
    width: 35%;
    border: none;
    background: linear-gradient(90deg, #01091f, #062781, #001653);
    border-radius: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.buttonIndex{
    margin: 0;
    color: white;
    border-radius: 15px;
    background: linear-gradient(90deg, #3f4444, #b91c1c);
}